$white-color: white;
$pri-color: #e65b5c;
$secon-color: #ef743f;
$teri-color: #93668d;
$body-color: #434343;
$sub-color: #999999;
$radient-button: linear-gradient(
  167.96deg,
  #e65b5c 18.65%,
  #ef743f 98.25%,
  #ee7241 98.25%
);
$box-shadow: inset 0px -1px 0px rgba(230, 91, 92, 0.25);
