.bg-footer {
    background-color: $teri-color;
    padding-top: 5.5rem;
}

.footer {
    color: $white-color;

    &-img {
        &_mobi {
            display: none;
        }
    }

    &-contact {
        &_mobi {
            display: none;
        }
    }

    &-title {
        text-transform: uppercase;
    }

    &-link {
        color: $white-color;
        opacity: .8;
    }

    ul {
        li:not(:last-child) {
            margin-bottom: 0.9375rem;
        }
    }

    &-info {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        & img {
            margin-top: 0.3rem;
            margin-right: 0.75rem;
        }

        &_text {
            opacity: .8;
        }


    }

    &-social {
        margin-bottom: 1.4375rem;

        &_icon:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

}

@media (max-width: 575.98px) {
    .bg-footer {
        padding-top: 2.625rem;
    }

    .footer {
        &-img {
            display: none;

            &_mobi {
                display: unset;
                margin-top: 2.4375rem;
            }
        }

        &-contact {
            display: none;

            &_mobi {
                display: unset;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}