.card {
  text-align: center;

  &-title {
    margin-top: 1.1875rem;
    margin-bottom: 1rem;
  }

  &-body {
    letter-spacing: -1;
    color: $body-color;
  }
}


.who-card {
  border-right: solid 1px rgba($color: $sub-color, $alpha: 0.3);

  &_body {
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: $body-color;
  }

  &_footer {
    display: flex;

    &_img {
      width: 80px;
      height: 80px;
      margin-right: 0.9375rem;
    }

    &_info {
      color: $sub-color;
      opacity: 0.8;
      margin-top: 0.125rem;
    }
  }
}

@media (max-width: 575.98px) {
  .who-card {
    &_body {
      margin-top: 0.25rem;
      margin-bottom: 1rem;
    }

    &_footer {

      &_info {
        color: $sub-color;
        opacity: 0.8;
        margin-top: 0.125rem;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}